<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/main.css">
</head>

<body class="grey-bg">

  <div class="detail-bg">
    <h4><%= post.title %></h4>
    <p><%= post.content %></p>
  </div>

  </div>
</body>

</html>